﻿@using PagedList.Mvc;
@model Aviva_FizzBuzz.ViewModels.FizzBuzzViewModel
@{
    ViewBag.Title = "User Input and Display Data";
}

@using (Html.BeginForm("GetFizzBuzzList", "FizzBuzz"))
{
    <fieldset>
        <legend class="style-legend">User Input</legend>
        <br />
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.UserInput)
        </div>
        <div class="editor-field focus">
            @Html.TextBoxFor(model => model.UserInput, new { autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.UserInput)
        </div>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
    <br />

    if (Model != null && Model.DisplayData != null)
    {
        <fieldset>
            <legend class="style-legend">Display Fizz Buzz Data</legend>
            <ul>

                @foreach (var display in Model.DisplayData)
                {
                    <li name=@display.Replace(" ","")>
                        @display
                    </li>
                }

            </ul>

            @Html.PagedListPager(Model.DisplayData, page => Url.Action("GetFizzBuzzList", new { Model.UserInput, page }), new PagedListRenderOptions { LinkToPreviousPageFormat = String.Format("Previous"), LinkToNextPageFormat = String.Format("Next") })

        </fieldset>
    }
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
